body{
    background-color: rgb(209, 207, 207);
}

footer{
        text-align: center;
}

a{
    text-decoration:none;
    color: black;
}

.content{
    background-color: white;
    border-radius: 5%;
    padding-top: 1px;
    margin-top: 15px;
}

.request{
    text-align: center;

}



.status{
    background-color: red;
    border-radius: 10%;
    text-align: center;
    margin-right: 30px;
    padding: 2px 5px 2px 5px;
    color: white;
}

.statusS{
    background-color: purple;
    border-radius: 10%;
    text-align: center;
    margin-right: 30px;
    padding: 2px 5px 2px 5px;
    color: white;
}

.sL{
    font-size: x-small;
}
.m{
    margin-right: 90px;
    
}
.fa-angle-right{

    
    float: right;
    font-size: 30px;
}
.mar{
    margin-top: -30px;
}

.ma{
    margin-top: -20px;
}
.row{
    display: flex;
}

.card{
    margin: 20px;
}



.last{
    padding-bottom: 10px;
}

h1{
    margin: 20px;
}

.fa {
    color: orange !important;
    margin-right: 5px;
}